#album {
    display: grid;
    margin: 20px 0px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 10px;
}

#album > img {
    object-fit: scale-down;
    height: 100%;
    width: 100%
}

#album > img:hover {
    transition: transform .75s;
    transform: scale(1.2);
}