#photo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#album {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 25px;
    object-fit: cover;
}

#album > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#album > img:hover {
    transition: transform .5s;
    transform: scale(1.5);
}
