#tag {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(20px,1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
}

.tag {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    background-color: lightblue;
    border-radius: 25px;
    text-align: center;
}

#tag input {
    font-size: 15px;
    grid-column: 1 / -4 ;
    grid-row: -1 / -1;
}

#tag button {
    grid-column: -4 / -1;
    grid-row: -1 / -1;
    cursor: pointer;
}