#tag-wrapper {
    display:grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(1, 25px);
    grid-gap: 10px;
}

.tag {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    background-color: lightblue;
    border-radius: 25px;
    text-align: center;
}

#add-tag {
    display: flex;

    margin: 10px;
}

#add-tag input {
    width: 150px;

}

#add-tag button {
    height: 25px;
}