#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 60vh;
}

svg {
  background-color: beige;
}

#project-title {
  height: 5vh;
  font-size: 25px;
  margin: 15px;
}

#modal-root {
  display: flex;
  justify-content: center;
}