#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#photo-section {
  display: flex;
  height: 500px;
}

svg {
  background-color: beige;
}

#project-title {
  font-size: 25px;
  margin: 5px;
}

#modal-root {
  display: flex;
  justify-content: center;
}