#root {
  display: flex;
  justify-content: center;
  background-color: beige;
  height: 100vh;
}

#main {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: 1fr 10fr 1fr 2fr;
  grid-template-areas: 
    "header-left header-right"
    "photo  tree"
    "tag    edit-tree"
    "album  album";
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 90%;
  height: 100vh;
}

#main #title-left {
  grid-area: header-left;
  font-size: 20px; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main #title-right {
  grid-area: header-right;
  font-size: 20px; 
}

#main > img {
  grid-area: photo;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#main #tag {
  grid-area: tag;
}

#main svg {
  grid-area: tree;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

#main #modal2 {
  grid-area: edit-tree;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: azure;
  width: 100%;
}

#modal2 * {
  display: flex;
  font-size: x-small;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#main #album {
  grid-area: album;
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-auto-flow: column;
  grid-template-areas: 
  "slider-left album-images slider-right";

  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

#slider-left {
  grid-area: slider-left;
  /* object-fit: none; */
  /* object-position: 0 0; */
  width: 50px;
  /* height: 512px; */
  /* transform: scale(0.1); */
  cursor: pointer;
  align-self: center;
}

#album-images {
  grid-area: album-images;
  display: flex;
  overflow: hidden;
}

#slider-right {
  grid-area: slider-right;
  /* object-fit: none; */
  /* object-position: 0 0; */
  width: 50px;
  /* height: 512px; */
  /* transform: scale(0.1); */
  cursor: pointer;
  align-self: center;
}

.slider-img {
  object-fit: scale-down;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.slider-img:hover {
  transition: transform .75s;
  transform: scale(1.5);
}

.node {
  cursor: pointer
}

#modal-root {
  display: flex;
  justify-content: center;
}